<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Power Of A Lamp Filament In An Incandescent Bulb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style type="text/css">
        .edge {
            width: 1500px;
            margin-left: auto;
            margin-right: auto;
            padding-top: 300px;
            padding-left: 400px;
        }
        .box {
            display: red;
            border: thick dashed rgb(9, 151, 47);
            width: 550px;
            min-height: 350px;
            font-size: 25px;
            background-color: rgb(20, 185,70 );
        }
        .formelt {
            color: rgb(155, 8, 220);
            text-align: center;
            margin-top: 9px;
            margin-bottom: 8px;
        }
        h1 {
            text-align: center;
            padding-top: 25px;
        }
    </style>
</head>
<body>
    <div class="edge">
        <div class="box">
            <h1>Power Of A Lamp calculation</h1>
            M.krishna kumaran(24004032)
            <form method="POST">
               {% csrf_token %}
                <div class="formelt">
                    Intensity: <input type="text" name="intensity" value="{{ r }}"></input> amps<br/>
                </div>
                <div class="formelt">
                    Resistance: <input type="text" name="resistance" value="{{ h }}"></input>ohms<br/>
                </div>
                <div class="formelt">
                    <input type="submit" value="Calculate"></input><br/>
                </div>
                <div class="formelt">
                    Power: <input type="text" name="power" value="{{ power }}" readonly></input> watts<br/>
                </div>
            </form>
        </div>
    </div>
</body>
</html>